.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  theme-color: #000000;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
  color-scheme: dark;
}
 
.home-container2 {
  flex: 0 0 auto;
  display: none;
  opacity: 0;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-image {
  width: 200px;
  opacity: 0;
  object-fit: cover;
}
 
.home-itchbutton1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 380px;
  height: 380px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
 
.home-itchbutton1:hover {
  opacity: 0.5;
}
 
.home-itchbutton1:active {
  opacity: 0.25;
}
 
.home-steambutton1 {
  left: 0px;
  right: 1000px;
  width: 380px;
  height: 380px;
  margin: auto;
  position: fixed;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
 
.home-steambutton1:hover {
  opacity: 0.5;
}
 
.home-steambutton1:active {
  opacity: 0.25;
}
 
.home-morebutton1 {
  left: 1000px;
  right: 0px;
  width: 380px;
  height: 380px;
  margin: auto;
  position: fixed;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
 
.home-morebutton1:hover {
  opacity: 0.5;
}
 
.home-morebutton1:active {
  opacity: 0.25;
}
 
.home-main-pc {
  width: 1920px;
  height: 1075px;
  display: flex;
  overflow: visible;
  position: relative;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("public/april1080-2000w.png");
  background-position: center;
}
 
.home-container3 {
  top: 260px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 396px;
  display: grid;
  position: absolute;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
 
.home-steambutton2 {
  left: 0px;
  right: 1000px;
  width: 380px;
  height: 380px;
  margin: auto;
  overflow: visible;
  position: fixed;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
 
.home-steambutton2:hover {
  opacity: 0.5;
}
 
.home-steambutton2:active {
  opacity: 0.25;
}
 
.home-itchbutton2 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 380px;
  height: 380px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
 
.home-itchbutton2:hover {
  opacity: 0.5;
}
 
.home-itchbutton2:active {
  opacity: 0.25;
}
 
.home-morebutton2 {
  left: 1000px;
  right: 0px;
  width: 380px;
  height: 380px;
  margin: auto;
  position: fixed;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
 
.home-morebutton2:hover {
  opacity: 0.5;
}
 
.home-morebutton2:active {
  opacity: 0.25;
}
 
@media(max-width: 1920px) {
  .home-container1 {
    theme-color: #000000;
    background-color: #000000;
  }
  .home-container2 {
    display: none;
    opacity: 0;
  }
  .home-image {
    opacity: 0;
  }
  .home-itchbutton1 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    height: auto;
    margin: mixed;
    position: absolute;
    align-self: center;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-steambutton1 {
    top: 0px;
    left: 0px;
    width: auto;
    height: auto;
    margin: mixed;
    position: absolute;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-morebutton1 {
    top: 0px;
    right: 0px;
    width: auto;
    height: auto;
    margin: mixed;
    position: absolute;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-main-pc {
    width: 1860px;
    height: 1033px;
    position: relative;
  }
  .home-container3 {
    top: 260px;
    left: 0px;
    height: 371px;
    position: absolute;
  }
  .home-steambutton2 {
    top: 0px;
    left: 0px;
    width: auto;
    bottom: 150px;
    height: auto;
    position: fixed;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-itchbutton2 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    bottom: 150px;
    height: auto;
    position: fixed;
    align-self: center;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-morebutton2 {
    top: 0px;
    right: 0px;
    width: auto;
    bottom: 150px;
    height: auto;
    position: fixed;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}
 
@media(max-width: 1200px) {
  .home-itchbutton1 {
    width: var(--dl-layout-size-large);
    height: var(--dl-layout-size-large);
  }
  .home-main-pc {
    width: 1160px;
    height: 653px;
    position: relative;
  }
  .home-container3 {
    top: 150px;
    height: 215px;
  }
  .home-steambutton2 {
    right: 500px;
    width: var(--dl-layout-size-xlarge);
    height: var(--dl-layout-size-xlarge);
  }
  .home-itchbutton2 {
    width: var(--dl-layout-size-xlarge);
    height: var(--dl-layout-size-xlarge);
  }
  .home-morebutton2 {
    left: 500px;
    width: var(--dl-layout-size-xlarge);
    height: var(--dl-layout-size-xlarge);
  }
}
 
@media(max-width: 991px) {
  .home-container2 {
    width: 971px;
    height: 460px;
    display: flex;
    opacity: 1;
    position: fixed;
  }
  .home-image {
    opacity: 1;
    align-self: center;
    border-color: var(--dl-color-theme-neutral-dark);
    border-width: 1px;
  }
  .home-itchbutton1 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: var(--dl-layout-size-large);
    bottom: 0px;
    height: var(--dl-layout-size-large);
    position: fixed;
  }
  .home-steambutton1 {
    left: 0px;
    right: 500px;
    width: var(--dl-layout-size-large);
    bottom: 0px;
    height: var(--dl-layout-size-large);
    position: fixed;
  }
  .home-morebutton1 {
    left: 500px;
    right: 0px;
    width: var(--dl-layout-size-large);
    bottom: 0px;
    height: var(--dl-layout-size-large);
    position: fixed;
  }
  .home-main-pc {
    display: none;
  }
}
 
@media(max-width: 767px) {
  .home-container1 {
    theme-color: #000000;
    border-color: var(--dl-color-theme-neutral-dark);
    border-width: 1px;
    background-color: #000000;
  }
  .home-container2 {
    width: 750px;
    height: 323px;
    display: flex;
    opacity: 1;
    position: fixed;
    align-self: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .home-image {
    opacity: 1;
    position: fixed;
    align-self: center;
  }
  .home-itchbutton1 {
    left: 200px;
    width: var(--dl-layout-size-large);
    height: var(--dl-layout-size-large);
    position: fixed;
  }
  .home-steambutton1 {
    right: 150px;
    width: var(--dl-layout-size-large);
    height: var(--dl-layout-size-large);
    position: fixed;
    align-self: flex-start;
  }
  .home-morebutton1 {
    left: 550px;
    right: 0px;
    width: var(--dl-layout-size-large);
    height: var(--dl-layout-size-large);
    margin: auto;
    position: fixed;
  }
  .home-main-pc {
    display: none;
    opacity: 0;
  }
}
 
@media(max-width: 479px) {
  .home-container1 {
    theme-color: #000000;
    background-color: #000000;
  }
  .home-container2 {
    width: 100%;
    height: 687px;
    opacity: 1;
    position: fixed;
    align-self: center;
    flex-direction: column;
  }
  .home-image {
    opacity: 1;
     bottom: 600px;
    align-self: center;
  }
  .home-itchbutton1 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: var(--dl-layout-size-large);
    height: var(--dl-layout-size-large);
    position: fixed;
    align-self: center;
  }
  .home-steambutton1 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: var(--dl-layout-size-large);
    bottom: 350px;
    height: var(--dl-layout-size-large);
    position: fixed;
    align-self: center;
  }
  .home-morebutton1 {
    top: 350px;
    left: 0px;
    right: 0px;
    width: var(--dl-layout-size-large);
    bottom: 0px;
    height: var(--dl-layout-size-large);
    position: fixed;
    align-self: center;
  }
  .home-main-pc {
    top: 0px;
    left: 0px;
    width: 479px;
    height: 412px;
    display: none;
    opacity: 0;
    position: relative;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .home-container3 {
    top: 1000px;
    right: 0px;
    bottom: 0px;
    height: 578px;
    margin: auto;
  }
  .home-steambutton2 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: var(--dl-layout-size-large);
    bottom: 0px;
    height: var(--dl-layout-size-large);
    margin: auto;
  }
  .home-itchbutton2 {
    top: 0px;
    width: var(--dl-layout-size-large);
    height: var(--dl-layout-size-large);
  }
  .home-morebutton2 {
    top: 400px;
    left: 0px;
    right: 0px;
    width: var(--dl-layout-size-large);
    bottom: 0px;
    height: var(--dl-layout-size-large);
    margin: auto;
  }
}
