.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
 
.home-container2 {
  flex: 0 0 auto;
  display: flex;
  opacity: 0;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-image {
  width: 200px;
  opacity: 0;
  object-fit: cover;
}
 
.home-link1 {
  display: contents;
}
 
.home-itchbutton1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 380px;
  height: 380px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
 
.home-itchbutton1:hover {
  opacity: 0.5;
}
 
.home-itchbutton1:active {
  opacity: 0.25;
}
 
.home-link2 {
  display: contents;
}
 
.home-steambutton1 {
  left: 0px;
  right: 1000px;
  width: 380px;
  height: 380px;
  margin: auto;
  position: fixed;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
 
.home-steambutton1:hover {
  opacity: 0.5;
}
 
.home-steambutton1:active {
  opacity: 0.25;
}
 
.home-link3 {
  display: contents;
}
 
.home-morebutton1 {
  left: 1000px;
  right: 0px;
  width: 380px;
  height: 380px;
  margin: auto;
  position: fixed;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
 
.home-morebutton1:hover {
  opacity: 0.5;
}
 
.home-morebutton1:active {
  opacity: 0.25;
}
 
.home-main-pc {
  width: 1920px;
  height: 1075px;
  display: flex;
  position: relative;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("public/april1080-2000w.png");
  background-position: center;
}
 
.home-container3 {
  top: 260px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 396px;
  display: grid;
  position: absolute;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
 
.home-steambutton2 {
  left: 0px;
  right: 1000px;
  width: 380px;
  height: 380px;
  margin: auto;
  position: fixed;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
 
.home-steambutton2:hover {
  opacity: 0.5;
}
 
.home-steambutton2:active {
  opacity: 0.25;
}
 
.home-itchbutton2 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 380px;
  height: 380px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
 
.home-itchbutton2:hover {
  opacity: 0.5;
}
 
.home-itchbutton2:active {
  opacity: 0.25;
}
 
.home-morebutton2 {
  left: 1000px;
  right: 0px;
  width: 380px;
  height: 380px;
  margin: auto;
  position: fixed;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
 
.home-morebutton2:hover {
  opacity: 0.5;
}
 
.home-morebutton2:active {
  opacity: 0.25;
}
 
@media(max-width: 1920px) {
  .home-container2 {
    opacity: 0;
  }
  .home-image {
    opacity: 0;
  }
  .home-itchbutton1 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    height: auto;
    margin: mixed;
    position: absolute;
    align-self: center;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-steambutton1 {
    top: 0px;
    left: 0px;
    width: auto;
    height: auto;
    margin: mixed;
    position: absolute;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-morebutton1 {
    top: 0px;
    right: 0px;
    width: auto;
    height: auto;
    margin: mixed;
    position: absolute;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-container3 {
    top: 260px;
    left: 0px;
    height: 371px;
    position: absolute;
  }
  .home-steambutton2 {
    top: 0px;
    left: 0px;
    width: auto;
    height: auto;
    margin: mixed;
    position: absolute;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-itchbutton2 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    height: auto;
    margin: mixed;
    position: absolute;
    align-self: center;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-morebutton2 {
    top: 0px;
    right: 0px;
    width: auto;
    height: auto;
    margin: mixed;
    position: absolute;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}
 
@media(max-width: 767px) {
  .home-container2 {
    width: 750px;
    height: 980px;
    opacity: 1;
    align-self: center;
  }
  .home-image {
    opacity: 1;
    align-self: center;
  }
  .home-itchbutton1 {
    width: var(--dl-layout-size-large);
    height: var(--dl-layout-size-large);
    position: static;
  }
  .home-steambutton1 {
    width: var(--dl-layout-size-large);
    height: var(--dl-layout-size-large);
    position: static;
  }
  .home-morebutton1 {
    width: var(--dl-layout-size-large);
    height: var(--dl-layout-size-large);
    position: static;
  }
  .home-main-pc {
    display: none;
    opacity: 0;
  }
}
 
@media(max-width: 479px) {
  .home-container2 {
    width: 100%;
    height: 687px;
    opacity: 1;
    align-self: center;
  }
  .home-image {
    opacity: 1;
    align-self: center;
  }
  .home-itchbutton1 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: var(--dl-layout-size-large);
    height: var(--dl-layout-size-large);
    position: static;
    align-self: center;
  }
  .home-steambutton1 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: var(--dl-layout-size-large);
    bottom: 0px;
    height: var(--dl-layout-size-large);
    position: static;
    align-self: center;
  }
  .home-morebutton1 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: var(--dl-layout-size-large);
    bottom: 0px;
    height: var(--dl-layout-size-large);
    position: static;
    align-self: center;
  }
  .home-main-pc {
    top: 0px;
    left: 0px;
    width: 479px;
    height: 412px;
    display: none;
    opacity: 0;
    position: absolute;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .home-container3 {
    top: 1000px;
    right: 0px;
    bottom: 0px;
    height: 578px;
    margin: auto;
  }
  .home-steambutton2 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: var(--dl-layout-size-large);
    bottom: 0px;
    height: var(--dl-layout-size-large);
    margin: auto;
  }
  .home-itchbutton2 {
    top: 0px;
    width: var(--dl-layout-size-large);
    bottom: 0px;
    height: var(--dl-layout-size-large);
  }
  .home-morebutton2 {
    top: 400px;
    left: 0px;
    right: 0px;
    width: var(--dl-layout-size-large);
    bottom: 0px;
    height: var(--dl-layout-size-large);
    margin: auto;
  }
}
